{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Assign Roles{% endblock title %}
<style>
 .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}


</style>
{% block content %}
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-8 mx-auto">
      <div class="bg-white p-5 rounded shadow">
     <h5 class="font-weight-light mb-4 text-center">Assign roles to user "{{username}}"</h5>
    <div class="card">
      <div class="text-center">
          <h5 class="card-header">Assign Role </h5>
      </div>
    <div class="card-body">
        <form class="form" method="POST" >
        {{wtf.form_field(form.roles)}}
        <button class="btn btn-lg navbar-mainbg btn-block" style="color:white;" type="submit">Assign Role</button>
        </form>

    </div>

    </div>


        <!-- End -->

      </div>
    </div>
  </div>

</div>


{% endblock content %}